//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {

}



//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: $defaultBackground;
  color: $defaultColor;
  font-family: $defaultFont;
}



//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {
  color: $defaultColor;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 16px 0 8px;
  text-transform: uppercase;
}

h6 {

}



//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {

}



//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {

}



//----------------------------------------------------------------------------
//  Input
//----------------------------------------------------------------------------
input {
  border: 1px solid $lightColor;
  font-size: inherit;
  outline: none;
  padding: 8px 4px;
  width: 100%;
  &::placeholder {
    color: $lightColor;
  }
}



//----------------------------------------------------------------------------
//  Lists
//----------------------------------------------------------------------------
li {
  border: 1px solid $warningColor;
  display: inline-block;
  margin: 8px 0;
  padding: 4px;
  text-align: center;
  width: 60px;
}

ol {

}

ul {
  list-style-type: none;
}



//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {

}

p + p {

}



//----------------------------------------------------------------------------
//  Pre
//----------------------------------------------------------------------------
pre {
  color: $defaultColor;
  display: block;
  font-family: $codeFont;
  font-size: $small;
  margin: 8px 0 0;
}



//----------------------------------------------------------------------------
//  Section Elements
//----------------------------------------------------------------------------
address {

}

article {

}

aside {

}

footer {

}

header {

}

main {

}

nav {

}

section {

}



//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {

}
