//----------------------------------------------------------------------------
//  Animations
//----------------------------------------------------------------------------
$animate: 0.2s;



//----------------------------------------------------------------------------
//  Backgrounds
//----------------------------------------------------------------------------
$defaultBackground: white;



//----------------------------------------------------------------------------
//  Colors
//----------------------------------------------------------------------------
$ctaColor: #007db8;
$defaultColor: #666;
$goodColor: #066d06;  //dark green
$lightColor: #ddd;
$warningColor: #dc143c;  //red



//----------------------------------------------------------------------------
//  Font Families
//----------------------------------------------------------------------------
$defaultFont: 'Arial', sans-serif;
$codeFont: "Courier New", Courier, monospace;



//----------------------------------------------------------------------------
//  Font Sizes
//----------------------------------------------------------------------------

$small: 0.8rem;
$base: 16px;
$big: 1.2rem;



//----------------------------------------------------------------------------
//  Font Weights
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  Responsive Breakpoints
//----------------------------------------------------------------------------
$troosevelt: 320px;
$taft: 375px;
$wilson: 414px;
$harding: 480px;
$coolidge: 550px;
$hoover: 620px;
$froosevelt: 680px;
$truman: 768px;
$eisenhower: 800px;
$kennedy: 850px;
$johnson: 900px;
$nixon: 992px;
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;
